version: "3.9"

services:
  backend:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build: ./client
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
